.actions_button {
  font-weight: bold;
}

.actions_button:hover {
  border-color: #BD242A !important;
  font-weight: bold;
  color: #BD242A !important;
}

.submit_button {
  background-color: #bd242a;
  font-weight: bold;
}

.submit_button:hover {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #bd242a !important;
  border-color: #bd242a;
}