.content{
    height: 84%;
    background-color: #FFFFFF !important;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 48px;
}

.components{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.components .button{
    margin-bottom: 8px;
    width: 100px;
    background-color: #BD242A;
    font-weight: bold;
}

