.action_btns_container {
  display: flex;
  justify-content: end;
}

.form_wrapper {
  height: 84vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12%;
}

.form_wrapper h1 {
  width: 80%;
  text-align: left;
}

.input_votes {
  width: 100%;
}

.inputs_wrapper {
  width: 80%;
}