.action_btns_container {
  display: flex;
  justify-content: end;
}

.updatecompaniesform{
  height: 84vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12%;
}

.updatecompaniesform h1{
  width: 80%;
  text-align: left;
}

.updatecompaniesinputs{
  width: 80%;
}

.inputvotes{
  width: 100%;
}

.updatecompaniesinputs .button{
  background-color: #BD242A;
  font-weight: bold;
}

.updatecompaniesinputs .button:hover{
  background-color: #FFFFFF;
  font-weight: bold;
  color: #BD242A;
  border-color: #BD242A;
}

.updatecompaniesinputs .invbutton{
  font-weight: bold;
}

.updatecompaniesinputs .invbutton:hover{
  border-color: #BD242A;
  font-weight: bold;
  color:#BD242A;
}
