.action_btns_container {
  display: flex;
  justify-content: end;
}

.form_wrapper {
  height: 84vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12%;
}

.form_wrapper h1 {
  width: 80%;
  text-align: left;
}

.inputs_wrapper {
  width: 80%;
}

.inputs_wrapper .submit_button {
  background-color: #BD242A;
  font-weight: bold;
}

.inputs_wrapper .submit_button:hover {
  background-color: #FFFFFF;
  font-weight: bold;
  color: #BD242A;
  border-color: #BD242A;
}

.inputs_wrapper .cancel_button {
  font-weight: bold;
}

.inputs_wrapper .cancel_button:hover {
  border-color: #BD242A;
  font-weight: bold;
  color: #BD242A;
}