.header {
    height: 10% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0 !important;
    line-height: 0 !important;
    background-color: #FFFFFF !important;
}

.header_admin {
    height: 10% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0 !important;
    line-height: 0 !important;
    background-color: #FFFFFF !important;
}

p {
    font-weight: bold;
    color: #BD242A;
    font-size: 20px;
}

.logout {
    color: #BD242A;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 40px;
}